<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ flatpage.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Перед началом работы с ботом внимательно изучите инструкцию">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
{{ flatpage.content }}
</body>
</html>