@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-family: 'Open Sans', sans-serif;
}
th {
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-datetime-edit,
input::-webkit-datetime-edit-fields-wrapper,
input::-webkit-datetime-edit-text,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-year-field,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

tr.image-tr {
    height: 50px;
    vertical-align: center;
    line-height: 50px;
}
#search_result{
    z-index:10;
    list-style-type:none;
    position:absolute;
    background: white;
    width: 320px;
    top: 34px;
}

a.search_item {
    text-align: center;
    height: 30px;
    text-decoration: none;
    color: rgba(0,0,0,.6);
}

a.search_item_selected {
    background: #9fcdff;
}

.search_block{
    display: inline-block;
    position: relative;
    width: 320px;

}

.item {
    margin:6px 10px;
    border-radius: 5px;
    box-shadow:0 0 4px 1px gray;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.item h4,.item h2 {
    text-align: center;

}

.item p {
    margin: 0;
    color:white;
    text-align: left;
}
.item:hover {
    box-shadow: 0 0 10px 3px gray;
    text-decoration: none;
    transition: 0.2s;

}

.item-slider {
    display: none;
}
.item-info {
    display: block;
    border-radius: 5px;
    transition: 0.2s;
}

.item-info:hover {
    text-decoration: none;
}

#alert-area{
    position: fixed;
    width: 100%;
    margin-top:60px;
    z-index:1000;
}
/* POP UP окно*/
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
    position:fixed;
    display: none;
    z-index:900;
    text-align: center;
    cursor: pointer;

}

.b-popup-content{
    cursor: default;
    z-index: 1000;
    position: absolute;
    width: 70%;
    max-height: 90%;
    background-color: rgba(0,0,0,0.2);
    border-radius:5px;
    box-shadow: 0 0 10px #000;
    left: 50%;
    top: 50%;
        transform: translate(-50%, -50%);
}

.img-popup {
    cursor: pointer;
}

#b-popup-img {
    height: auto;
    max-height: 100%;
    max-width: 100%;

}

.b-popup-close {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: rgba(255,255,255,0.3);
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: 0.2s;
}

.b-popup-close:hover {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 14px 0 black;
}

.img-container {
    position: relative;
}

.text-popup {
    height: 200px;
    width: 400px;
    background: white;

}

 .switch input[type=checkbox] {
    display: none;
  }
 .switch label {
    position: relative;
  }
   .switch label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 3em;
    box-sizing: border-box;
    margin: 0;

    /* цвет фона отключенного switch */
    background-color: lightgray;
    border-radius: 2em;
    border-width: .1em;
    border-style: solid;

    /* цвет рамок фона отключенного switch */
    border-color: lightgray;
  }

  /* стиль фонового блока во включенном состоянии */
  .switch > input[type=checkbox]:checked + label:before{
    background-color: #007bff;
    border-color: #007bff
  }

   .switch label {
    position: relative;

    /* это ширина label:before + небольшой отступ */
    padding-left: 3.5em;
  }

     .switch > label:after { /* ползунок switch */
    content: "";
    position: absolute;
    display: block;
    /* высота :before - 2x(толщина обводки :before) */
    height: 1.3em;
    /* так как ползунок круглый, копируем height */
    width: 1.3em;

    top: .1em;
    left: .1em;

    transition: all .2s ease-out; /* анимация перемещения ползунка */

    background-color: #fff;
    border-radius: 2em;
    box-sizing: border-box;
  }

  /* ползунок во включенном состоянии */
  .switch > input[type=checkbox]:checked + label:after {
      /* это число вычисляется по следующей формуле
      x - y - z
      где:
      x ширина label:before (3em)
      y это ширина label:after (1.3em)
      z это ширина обводки label:before (.1em)

      3em - 1.3em - .1em = 1.6em
      */
      left: 1.6em;
  }

  .btn-save {
      border-bottom: 1px dashed #007bff ;
      padding: 1px;
      text-decoration: none;

  }

  .btn-save:hover {
      border-bottom: 1px dashed #0056b3;
      text-decoration: none;
  }

  *[contenteditable="true"]{
    border:1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  *[contenteditable="true"]:focus{
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      outline: 0;
      background-color: #fff;
      border-color: #80bdff;
  }

  .pop-btn {
      width: 100px;
      height: auto;
      background-color: rgba(255,255,255,0.1);
      position: relative;
  }

  .pop-btn:hover {
    background-color: rgba(255,255,255,0.4);
      cursor: pointer;
  }

  td,th, tr{
      text-align: center;
      text-align: -moz-center;
      text-align: -webkit-center;
  }

  .img-btn{
  position: absolute;
  left: -50%;
  top: -50%;
  bottom: -50%;
  right: -50%;
  margin: auto;
}

  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

  .my-table>tr{
  border:1px solid lightgrey;

}

  .my-table>tr:hover{
      background: gray;
  }

  tr.my-tr {
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0 0 1px 0 gray;
  -moz-box-shadow: 0 0 1px 0 gray;
  box-shadow: 0 0 1px 0 gray;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s ;
  -ms-transition: 0.2s ;
  -o-transition: 0.2s ;
  transition: 0.2s;
      background: #FAFAFA;
  }

  tr.my-tr:hover {
      box-shadow: 0 0 5px 0 gray;
  }

.btn-accept {
    color: #a4a4a4;
    font-size: 150%;
    background: none;
    transition: 0.2s;
}

.btn-accept:hover {
        color: #007bff;
    background: #ededed;
}

.btn-cancel {
    color: #a4a4a4;
    font-size: 150%;
    background: none;
        transition: 0.2s;
}

.btn-cancel:hover {
        color: #dc3545;
    background: #EDEDED;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0.5em 0 0.5em 0;
    width: 200px;

    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
}

.context-menu ul { list-style: none; margin: 0; padding: 0; text-align: center}

.context-menu ul li {margin: 0; padding: 0; background-color: #fff; display: block; height: 30px; line-height: 30px}

.context-menu ul li:hover {background-color: #eaeaea; cursor: pointer}

.inputGroup {
	 background-color: #fff;
	 display: block;
	 margin: 10px 0;
	 position: relative;
}
 .inputGroup label {
	 padding: 12px 30px;
	 width: 100%;
	 display: block;
	 text-align: center;
	 color: #3c454c;
	 cursor: pointer;
	 position: relative;
	 z-index: 2;
	 transition: color 200ms ease-in;
	 overflow: hidden;
}
 .inputGroup label:before {
	 width: 10px;
	 height: 10px;
	 border-radius: 50%;
	 content: '';
	 background-color: #5562eb;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%) scale3d(1, 1, 1);
	 transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	 opacity: 0;
	 z-index: -1;
}
 .inputGroup label:after {
	 width: 32px;
	 height: 32px;
	 content: '';
	 border: 2px solid #d1d7dc;
	 background-color: #fff;
	 background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	 background-repeat: no-repeat;
	 background-position: 2px 3px;
	 border-radius: 50%;
	 z-index: 2;
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
	 cursor: pointer;
	 transition: all 200ms ease-in;
}
 .inputGroup input:checked ~ label {
	 color: #fff;
}
 .inputGroup input:checked ~ label:before {
	 transform: translate(-50%, -50%) scale3d(56, 56, 1);
	 opacity: 1;
}
 .inputGroup input:checked ~ label:after {
	 background-color: #54e0c7;
	 border-color: #54e0c7;
}
 .inputGroup input {
	 width: 32px;
	 height: 32px;
	 order: 1;
	 z-index: 2;
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
	 cursor: pointer;
	 visibility: hidden;
}
