{% for teacher in teachers %}
    <li class="w-100">
        <a class="search_item d-block" href="{{teacher.get_absolute_url}}">{{teacher.full_name}} (Преп.)</a>
    </li>
{% endfor %}
{% for branch in branches %}
    <li class="w-100">
        <a class="search_item d-block" href="{{branch.get_absolute_url}}">{{branch.name}} (Фил.)</a>
    </li>
{% endfor %}
