<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'picker/jquery.datetimepicker.css' %}">
    <script src="{% static 'picker/jquery.js' %}"></script>
    <script src="{% static 'picker/build/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'airpicker/js/datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'airpicker/css/datepicker.min.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'multiple/css/multi-select.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>{% block title %}Заголовок не установлен{% endblock %}</title>
    {% block links %} {% endblock %}
</head>
<body style="opacity: 0">
{% block body_start %} {% endblock %}
<div class="b-popup">
    <span class="b-popup-close">&times</span>
    <div class="b-popup-content d-flex justify-content-between">
        <div id="prev-img" class="pop-btn  noselect"><img class="img-btn" src="/static/icons/prev-btn.png" alt=""></div>
        <div class="img-container">

            <img src="" id="b-popup-img" alt="">
        </div>
        <div id="next-img" class="pop-btn noselect"><img class="img-btn" src="/static/icons/next-btn.png" alt=""></div>
    </div>
</div>

<div id="alert-area">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static 'icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        LigaBOT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_logs" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Отчёты
                    {% if count_sort_notification %}
                        <span class="badge badge-primary">{{ count_sort_notification }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown_logs">
                    <a class="dropdown-item" href="{% url 'logs_list' %}">Кабинеты<span
                            class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'prepare_list' %}">Подготовки<span
                            class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'history_of_sorting' %}">Сортировки
                        {% if count_sort_notification %}
                            <span class="badge badge-primary">
                        {{ count_sort_notification }}
                                                </span>
                        {% endif %}<span
                                class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'photo_list' %}">Фото с занятий<span
                            class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Дополнительно
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'teachers_list' %}">Преподаватели<span class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'branches_list' %}">Филиалы<span
                            class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'lessons_list' %}">Занятия<span
                            class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'mailing' %}">Рассылка<span
                            class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Настройки
                        <span class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="{% url 'orders_list' %}">Заказы деталей
                        <span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks_list' %}">Задачи<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item search_block ">
                <input id="search" class="form-control mr-sm-3" type="search"
                       placeholder="Поиск..." aria-label="Search" name="search" autocomplete="off">
                <ul id="search_result" class="p-0 shadow-lg"></ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid shadow-lg border py-3">
    {% block content %}
        Контент остутсвтвует
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="{% static 'multiple/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'jquery.quicksearch.js' %}"></script>
<script>
    $(document).ready(function () {
        $('body').animate({opacity: '1'}, 100)
    });
</script>
</body>
</html>
