<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% for line in text %}
        <td nowrap>{{ line }}</td><br>
    {% endfor %}
</body>
</html>