{% extends 'telegrambot/base.html' %}


{% block title %}
    Список филиалов
{% endblock %}

{% block content %}
        <div class="row">
            <h1 class="col-12 text-center">Филиалы</h1>
        </div>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Slug имя</th>
              </tr>
            </thead>
            <tbody>
                {% for branch in branches %}
                    <tr>
                        <th scope='row'>{{ branch.id}}</th>
                        <th><a href="{{ branch.get_absolute_url}}">{{ branch.name }}</a></th>
                        <th>{{ branch.slug_name}}</th>
                    </tr>

                {% endfor%}
            </tbody>
        </table>
{% endblock %}
