{% extends 'telegrambot/base.html' %}


{% block title %}
    {{branch.name}} - Обзор
{% endblock %}

{% block content %}
        <h3 class="text-center mt-2">{{ branch.name }} ID: {{branch.id}}</h3>


        <div class="row">
            <h5 class="col-12 text-center">Последние логи</h5>
        </div>
<div class="table-responsive">
        <table class="table table-bordered table-light table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Время до занятия</th>
                <th scope="col">Преподаватель </th>
                <th scope="col">Занятие</th>
                <th scope="col">Функции</th>
              </tr>
            </thead>
            <tbody>
                {% for log in page.object_list %}
                    <tr>
                        <th scope="row">{{ log.id}}</th>
                        <th>{{ log.date|date:"d.m.Y" }}</th>
                        <th>{{ log.time|date:"H:i" }}</th>
                        {% load pluralize %}
                        <th>{% if log.time_before %}{{ log.time_before}} {{ log.time_before|pluralize:"минута,минуты,минут"}} {% else %} - {% endif %}</th>
                        <th><a href="{{ log.teacher.get_absolute_url}}">{{ log.teacher}}</a></th>
                        <th>{% if log.lesson %}{{ log.lesson}} {% else %} - {% endif %}</th>
                        <th><a href="{{ log.get_absolute_url }}">Подробнее</a></th>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
{%  if page.has_other_pages %}
    {% load bootstrap_pagination %}
    {% bootstrap_paginate page range=5 show_first_last=True%}
{% endif %}
</div>
{% endblock %}
