{% extends 'telegrambot/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row  my-2">
        <h2 class="col-12 text-center">Общая информация</h2>
    </div>
    <div class="row d-flex justify-content-around">
        <a href="{% url 'teachers_list' %}"
           class="item col-11 col-md-5 col-lg border border-danger">
            <h4 class="text-secondary">Кол-во преподавателей</h4>
            <h2 class="text-danger">{{ teacher_count }}</h2>
        </a>
        <a href="{% url 'branches_list' %}"
           class="item col-11 col-md-5 col-lg border border-primary">
            <h4 class="text-secondary">Кол-во филиалов</h4>
            <h2 class="text-primary">{{ branch_count }}</h2>
        </a>
        <a href="{% url 'lessons_list' %}"
           class="item col-11 col-lg border border-warning">
            <h4 class="text-secondary">Кол-во занятий</h4>
            <h2 class="text-warning">{{ lesson_count }}</h2>
        </a>
    </div>
    <div class="row  my-2">
        <h2 class="col-12 text-center">Сводка за сегодня</h2>
    </div>
    <div class="row justify-content-around">
        <a class="item col-11 col-md-5 col-lg border border-primary">
            <h4 class="text-secondary">Фото сегодня</h4>
            <h2 class="text-primary" id="log_count_view">{{ today_log.count }}</h2>
            <input type="hidden" name="log_count" id="log_count"
                   value="{{ today_log.count }}">
        </a>
        <a class="item col-11 col-md-5 col-lg border border-danger">
            <h4 class="text-secondary">Опоздали</h4>
            <h2 class="text-danger" id="late_count_view">{{ late_count }}</h2>
        </a>
    </div>
    <div class="row  my-2">
        <h2 class="col-12 text-center">Филиалы</h2>
        <p class="text-center col-12">*Данные обновляются с помощью <b><i>магии</i></b> без перезагрузки страницы</p>
    </div>
    <div class="row d-flex justify-content-around" id="card_area">
        {% for branch, logs in branches_logs.items %}
            {% if logs %}
                <div class="item col-11 col-sm-5 bg-success row" branch="{{ branch.id }}">
                    <h5 class=" text-white m-0 text-center col-11">{{ branch.name }}
{#                        <span class="badge badge-light counter">{{ logs|length }}</span>#}
{#                        <span class="new badge badge-secondary"></span>#}
                    </h5>
                    {% for log in logs %}
                        <a href="{{ log.get_absolute_url }}" log="{{log.id}}" target="_blank"
                                {% if log.time_before < 0 %}
                           class="item-info bg-danger p-1 border my-1 col-12 col-md-6 col-lg-4">
                                {% elif log.time_before < 15 %}
                                    class="item-info bg-warning p-1 border my-1 col-12 col-md-6 col-lg-4">
                                {% else %}
                                    class="item-info bg-info p-1 border my-1 col-12 col-md-6 col-lg-4">
                                {% endif %}

                        <p class="text-center">{{ log.teacher.get_short_name }}</p>
                        <p class="text-center">{{ log.time }}</p>
                        <p class="text-center">
                            {% if log.lesson %}{{ log.lesson }} {% else %} Нет информации {% endif %}</p>
                        </a>

                    {% endfor %}
                </div>
            {% else %}
                    <div class="item col-11 col-sm-5 bg-danger" branch="{{branch.id}}">
                   <h5 class=" text-white m-0  text-center">{{branch.name}}
                    <span class="counter badge badge-light "></span>
                   <span class="new badge badge-secondary"></span>
                    </h5>
                     </div>
            {% endif %}

        {% endfor %}
        <script>
            let interval_id;
            let card_area = $('#card_area'); //Область для построения плиток
            $(window).bind('scroll', function () {
                if ($(window).scrollTop() > 40) {
                    $('#alert-area').css('margin-top', 0);
                } else {
                    $('#alert-area').css('margin-top', 60);
                }
            });

            $('div[branch]').click(function () {
                $(this).children('h5').children('span.new').text('');
            });

            $(window).on('blur focus', function (e) {
                $('title').text('Dashboard');
                clearInterval(interval_id);
            });

            function get_updates() {
                var count_log = $('#log_count').val();
                $.ajax({
                    url: '/logs/get_updates',
                    type: 'GET',
                    data: {
                        count: count_log,
                    },
                    success: function (result) {
                        let branch_ids = []; // Хранение id карточек филиалов
                        let log_ids = []; // Храняние id карточек занятий
                        // Если есть обновление перерисовываем все плитки
                        if (result.is_update) {

                            $.each(result.updates, function (key, value) {
                                branch_ids.push(key);
                                let card = '';
                                let length = value.logs.length;
                                let $card_branch;
                                //Создаем карточку для филиала
                                console.log($("div").is(`[branch=${key}]`));
                                 if(!$("div").is(`[branch=${key}]`)){
                                     console.log('Тут');
                                     $card_branch = $(`<div class="item col-11 col-sm-5 bg-success row" branch=${key}></div>`);
                                     let $badge = $('<h5 class="text-white m-0 text-center col-11"></h5>');
                                     $badge.text(value.name);
                                     $card_branch.append($badge);
                                     $('#card_area').append($card_branch);
                                } else {
                                    $card_branch = $(`div[branch=${key}]`);
                                }


                                if(length){
                                    $card_branch.addClass('bg-success').removeClass('bg-danger');
                                }
                                else {
                                    $card_branch.removeClass('bg-success').addClass('bg-danger');
                                }

                                if(!$("div").is(`[branch=${key}]`)){
                                    $('#card_area').append($card_branch);
                                }

                                // Для каждого лога делаем карточку
                                $.each(value.logs, function (index, log) {
                                    //$card_branch.children('a').remove();
                                    let class_ = ''
                                    let time_before = log.time_before;
                                    log_ids.push(log['id']);
                                    if(!$("a").is(`[log=${log['id']}]`)) {
                                        // Создаем плитку для отчета
                                        if (time_before >= 15 || !time_before) {
                                            class_ = 'item-info bg-info p-1 border my-1 col-12 col-lg-4';
                                        } else if (time_before < 0) {
                                            class_ = 'item-info bg-danger p-1 border my-1 col-12 col-lg-4'
                                        } else {
                                            class_ = 'item-info bg-warning p-1 border my-1 col-12 col-lg-4'
                                        }
                                        let elem = `<a href='/logs/` + log['id'] + `' class = '` + class_ + `' target='_blank' log=${log['id']}>
                                        <p>` + log.teacher + `</p>
                                        <p>` + log.time + `</p>
                                        <p>` + log.lesson + `</p></a>
                                        `;
                                        $card_branch.append(elem);
                                    }
                                });
                            });
                                                            // Удаляем лишние карточки филиалов
                            $('div[branch]').each(function (index) {
                                let branch_id = $(this).attr('branch');
                                if (branch_ids.indexOf(branch_id) === -1) {
                                    $(this).remove();
                                }
                            });
                            // Удаляем лишние карточки логов
                            $('a[log]').each(function (index) {
                                let log_id = Number($(this).attr('log'));
                                if (log_ids.indexOf(log_id) === -1) {
                                    console.log('Удаляем');
                                    $(this).remove();
                                }
                            });
                            let log_count = $('a[log]').length;
                            let branch_count = $('div[branch]').length;
                            let count_string  = log_count.toString() + branch_count.toString()
                            console.log(count_string);
                            $('#log_count').val(count_string)
                        }
                    }
                });
            }

            setInterval(get_updates, 2000);
        </script>
    </div>
{% endblock %}
