{% extends 'telegrambot/base.html' %}

{% block title %}
Список ошибок
{% endblock %}

{% block content %}
    <div class="row">
    {% for error in errors %}
    <div class="col-11 mx-auto my-2 p-2 text-center border">
        <a href="{% url 'error_log' error.id %}">Ошибка №{{ error.id }}</a>
    </div>
    {% endfor %}
    </div>
{% endblock %}