{% extends 'telegrambot/base.html' %}

{% block title %}
    Ошибка #{{ error_log.id }}
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'errors_list' %}" class="m-2 btn btn-outline-primary">Назад</a>

        <div class="row border shadow-sm m-2">
            <div class="col-12 p-2">{{ error_log.created|date:'d.m.Y H:i' }}</div>
        </div>
        <pre class="row border shadow-sm m-2">
            <div class="col-12 p-2">{{ error_log.info.Ошибка }}</div>
            {% for line in error_log.info.Traceback %}
                {% if 'telegrambot' in line %}
                    <div class="col-12 text-danger">{{ line }}</div>
                {% else %}
                    <div class="col-12 ">{{ line }}</div>
                {% endif %}
            {% endfor %}
        </pre>
        <div class="row border shadow-sm m-2">
            <pre class="col-12 p-2">{{ error_log.request|safe }}</pre>
        </div>
        <div class="row border shadow-sm m-2">
            <div class="col-12 p-2">{{ error_log.user }}</div>
        </div>
    </div>
{% endblock %}