<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Перед началом работы с ботом внимательно изучите инструкцию">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta property="og:image" content="https://www.ligajournal.ru/static/instruction/manual.png">
    <meta property="og:title" content="Инструкция">
    <meta property="og:url" content="https://www.ligajournal.ru/instruction">
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center bg-dark text-light">
                <h1>Инструкция с картинками</h1>
            </div>
        </div>
        <div class="content">
        <div class="row">
            <h3 class="col-12 text-center my-2 font-weight-normal">
                Система активно тестируется и улучшается.
                По всем вопросам и предложениям обращаться к
                <a href="https://t.me/stas12312" style="text-decoration: none">Станиславу</a>
                в telegram.
            </h3>
        </div>

        <hr />

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 1. Авторизация</h2>
                <h3 class="font-weight-normal p-1">
                    Запустите бота в telegram
                    <a href="https://t.me/liganskbot" style="text-decoration: none">@liganskbot</a>.
                    Введите команду
                    <span class="text-primary">/auth</span>, затем введите ваши ФИО,
                    если данные введены корректно, бот сообщит об успешной авторизации<hr />
                    Это действие вам нужно выполнить всего лишь один раз, а может и нет.
                </h3>
            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/1.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 2. Выбор фото</h2>
                <h3 class="font-weight-normal p-1">
                    Сфотографируйте кабинет, выберите нужные фотографии и отправьте их.
                </h3>
            </div>
            <div class="col-12  col-md  p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/2.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 3. Загрузка фото</h2>
                <h3 class="font-weight-normal p-1">
                    Дождитесь, пока все ваши фотографии будут загружены, после загрузки каждого фото, бот сообщает,
                    что фото принятно<hr/>
                    Если у вас возникли проблемы с интернетом, то сделайте скриншот чата,
                    где видно, что фото не отправилось. <br />
                    После появления интернета, отправьте фото учебному отделу.
                </h3>

            </div>
            <div class="col-12  col-md  p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/3.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 4. Филиал</h2>
                <h3 class="font-weight-normal p-1">
                    После того, как все фото загрузились, вам нужно указать полное название филиала.<br />
                    Список филиалов можно посмотреть, введя команду <span class="text-primary">/list</span>.
                </h3>

            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/4.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 4.1 Выбор занятия</h2>
                <h3 class="font-weight-normal p-1">
                    Система автоматически находит ближайшие занятия.<br/>
                    Если найдено более одного занятия, нажмите кнопку с нужным занятием.<hr />
                    Если найдено одно ближайшие занятие, то вам не нужно нажимать кнопку с нужным занятием:)
                </h3>

            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/5.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 5. Готово</h2>
                <h3 class="font-weight-normal p-1">
                    После выбора занятия, вы увидете сообщение об успешном принятии фотографии.<hr />
                    Если вы считаете, что данные указаны неверно, обратитесь к
                    <a href="https://t.me/stas12312" style="text-decoration: none">@stas12312</a>

                </h3>

            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/6.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>
        <div class="row">
            <h3 class="col-12 text-center my-2 font-weight-normal">
                После окончания занятия, сфотографируйте кабинет и повторите ШАГИ 2-4 <br />


            </h3>
        </div>


    <footer class="row text-center">
        <div class="col-12 bg-dark p-2">
            <a href="https://t.me/stas12312"
               class="text-light" style="text-decoration: none" target="_blank">2018 Stanislav Rush</a>
        </div>
    </footer>
    </div>
    </div>

</body>
</html>