{% extends 'telegrambot/base.html' %}


{% block title %}
    Список занятий
{% endblock %}

{% block content %}
        <div class="row">
            <h1 class="col-12 text-center">Занятия</h1>
        </div>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">День недели</th>
                <th scope="col">Время</th>
              </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <th scope='row'>{{ lesson.id}}</th>
                        <th>{{ lesson.name }}</th>
                        <th>{{ lesson.get_day_of_weak_display}}</th>
                        <th>{{ lesson.start }} - {{ lesson.end }}</th>
                    </tr>

                {% endfor%}
            </tbody>
        </table>
{% endblock %}
