{% extends 'telegrambot/base.html' %}


{% block title %}
    Список фотографий
{% endblock %}


{% block content %}

    <div class="container shadow-lg pt-2">
        <div class="row m-2">
            <a href="javascript:history.go(-1)" class="btn btn-primary col-2">Назад</a>
            <h3 class="text-center col-8">ID: {{ log.id }} Дата: {{ log.date|date:"d.m.Y"}}</h3>
        </div>

        <div class="row text-center">
            <h5 class="col-12 col-lg-6">Преподаватель: <a href="{{ log.teacher.get_absolute_url}}">{{ log.teacher }}</a></h5>
            <h5 class="col-12 col-lg-6">Филиал: <a href="{{log.branch.get_absolute_url}}">{{ log.branch }}</a></h5>
        </div>
        <div class="row text-center">
            <h5 class="col-12 col-lg-6">Занятие: {{ log.lesson}}</h5>
            <h5 class="col-12 col-lg-6">Время прибытия: {{ log.time }}</h5>
        </div>
        <div class="row text-center">
            <a href="https://ligajournal.ru/admin/telegrambot/logsending/{{ log.id }}/change/"
            class="col-12 btn btn-block btn-primary"> Редактировать </a>
        </div>

        {% load staticfiles %}
        {% if images.start %}
            <hr />
            <div class="row py-1">
                <h3 class="col-12 text-center">Начало занятия</h3>
                {% for image in images.start %}
                <div target="_blank" class="my-2 col-12 col-md-6 col-xl-4 image-popup-zoom">
                    <img class="img-fluid img-popup" src="/{{ image }}" alt="Нет фото">
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if images.end %}
                <hr />
                <div class="row py-1">
                    <h3 class="col-12 text-center">Конец занятия</h3>
                {% for image in images.end %}
                    <div target="_blank" class="my-2 col-12 col-md-6 col-xl-4">
                        <img class="img-fluid img-popup" src="/{{ image }}" alt="Нет фото">
                    </div>
                {% endfor %}
                </div>
        {% endif %}
            {% if not flag %}
                <hr />
                <div class="row py-1">
                {% for image in images %}
                    <div target="_blank" class="my-2 col-12 col-md-6 col-xl-4">
                        <img class="img-fluid img-popup" src="/{{ image }}" alt="Нет фото">
                    </div>
                {% endfor %}
                </div>
        {% endif %}
    </div>
    <script rel="{%  static 'magnific_popup/magnific-popup.js' %}"></script>
{% endblock %}
