{% extends 'telegrambot/base.html' %}


{% block title %}
    Список фотографий
{% endblock %}

{% block content %}
    {% load bootstrap_pagination %}
    <form action="{% url 'logs_list' %}" method="GET" class="m-2">
        <a href="{% url 'logs_list' %}" class="p-1">Сбросить фильтры</a>
        <a href="https://ligajournal.ru/static/bot.log">Скачать bot.log</a>
        <div class="row mx-1 d-flex justify-content-between">

            <div class="row col-12   col-md-6 col-xl-4  mx-0 d-flex justify-content-between  border p-1">
                <p class="col-12 text-center">Дата</p>
                <div class="form-row col-12">
                    <label for="id_min_date"
                           class="col-2 col-form-label col-form-label-sm">{{ form.min_date.label }} </label>
                    <input id="id_min_date" class="col-10 mb-3 form-control form-control-sm" name="min_date"
                           type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                           value='{% if form.min_date.value %}{{ form.min_date.value }}{% endif %}'>
                    {{ form.min_date.errors }}
                </div>
                <div class="form-row col-12">
                    <label for="id_max_date"
                           class="col-2 col-form-label col-form-label-sm">{{ form.max_date.label }}</label>
                    <input id="id_max_date" class="col-10 mb-3 form-control form-control-sm" name="max_date"
                           type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                           value="{% if form.max_date.value %}{{ form.max_date.value }}{% endif %}">
                    {{ form.max_date.errors }}
                </div>
            </div>

            <div class="row col-12 col-md-6 col-xl-3  mx-0 d-flex justify-content-between border p-1">
                <p class="col-12 text-center">Интервал</p>
                <div class="form-row col-12">
                    <label for="id_min_time"
                           class="col-2 col-form-label col-form-label-sm">{{ form.min_time.label }}</label>
                    <input id="id_min_time" autocomplete="off" class="col-10 mb-3  form-control form-control-sm"
                           type="number" name="min_time" value="{{ form.min_time.value }}">
                </div>
                <div class="form-row col-12">
                    <label for="id_max_time"
                           class="col-2 col-form-label col-form-label-sm">{{ form.max_time.label }} </label>
                    <input id="id_max_time" autocomplete="off" class="col-10 mb-3 form-control form-control-sm"
                           type="number" name="max_time" value="{{ form.max_time.value }}">
                </div>
            </div>

            <div class="row col-12  col-xl-4 mx-auto my-md-1 mx-xl-0 d-flex justify-content-center text-center border p-1">
                <p class="col-12 text-center">Дополнительно</p>
                <p class="col-3" for="lesson">{{ form.lesson.label }}</p>
                <div class="form-row col-9">
                    {{ form.lesson }}
                    {{ form.lesson.errors }}
                </div>
                <p class="col-3" for="lesson">{{ form.branch.label }}</p>
                <div class="form-row col-9">
                    {{ form.branch }}
                    {{ form.branch.errors }}
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-between mx-1">
            <button type="submit" name="button" class="btn btn-primary btn-block col-12 my-1">Применить</button>

        </div>
    </form>
    <div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Время до начала занятия</th>
            <th scope="col">Преподаватель</th>
            <th scope="col">Филиал</th>
            <th scope="col">Занятие</th>
            <th scope="col">Функции</th>
        </tr>
        </thead>
        <tbody>
        {% for log in page.object_list %}
            {% if log.time_before < 0 %}
                <tr class="table-danger">
                    {% elif log.time_before < 15 %}
                <tr class="table-warning">
                    {% elif  log.time_before >= 30 %}
                <tr class="table-success">
                    {% else %}
                <tr>
            {% endif %}

        <th {% if log.is_today %} class="font-weight-bold" {% endif %}>{{ log.date|date:"d.m.Y" }}</th>
        <th>{{ log.time|date:"H:i" }}</th>
        {% load pluralize %}
        <th>{% if log.time_before or log.time_before == 0%}{{ log.time_before }}
            {{ log.time_before|pluralize:"минута,минуты,минут" }} {% else %} - {% endif %}</th>
        <th><a href="{{ log.teacher.get_absolute_url }}">{{ log.teacher }}</a></th>
        <th><a href="{{ log.branch.get_absolute_url }}">{{ log.branch }}</a></th>
        <th>{% if log.lesson%}{{ log.lesson }} {% else %} - {% endif %}</th>
        <th><a href="{{ log.get_absolute_url }}">Подробнее</a></th>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 show_first_last=True %}
    </div>
    <script type="text/javascript">

        jQuery('#id_min_date, #id_max_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });

    </script>
{% endblock %}
