{% extends 'telegrambot/base.html' %}

{% block title %}
    Рассылка
{% endblock %}
{% block links %}
    <style>

    </style>
{% endblock %}
{% block body_start %}
    <div class="b-popup" id="confirm_window">
        <div class="b-popup-content row" style="max-width: 500px !important; height: auto !important;">
            <div class="text-popup col-12 p-0 pb-5" style="height: auto">
                <div class="b-popup-title bg-secondary text-center" style="height: 50px;">
                    <h5 class="text-white" style=" line-height: 50px">Подтвердите удаление</h5>
                </div>
                <form action="" method="GET" class="row col-12  mt-5" id="delete_form">
                    <input type="hidden" name="id" value="0">
                    <span class="col-8">Удалить сообщение в боте:</span>
                    <span class="switch col-4  text-center mx-auto">
                                <input class="form-control" id="delete_message"
                                       type="checkbox" name="delete_message"
                                       value="delete_message"
                                       checked
                                >
                                <label class="col-2" for="delete_message">Да</label>
                            </span>
                </form>
                <span class="b-popup-close">&times</span>
            </div>
            <div class="row col-12 m-0 p-0">
                <button value="accept" id="btn_popup_accept" class="btn btn-primary col-6">Подтвердить</button>
                <button value="cancel" id="btn_popup_cancel" class="btn btn-danger col-6">Отмена</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="row">
        <h3 class="col-12 text-center">Рассылка</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{% url 'mailing' %}" method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="title" class="col-12 col-md-2 col-lg-1 col-form-label">{{ form.title.label }}</label>
                    <div class="col-12 col-md-10 col-lg-11">
                        <input type="text" class="form-control" name="title"
                               id="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-12 col-md-2 col-lg-1 col-form-label">{{ form.body.label }}</label>
                    <div class="col-12 col-md-10 col-lg-11">
                        <textarea type="{{ form.body.widget }}" class="form-control" name="body"
                                  id="body">{% if form.body.value %}{{ form.body.value }}{% endif %}</textarea>
                    </div>
                    <div class="col-12 text-center">
                        {% for error in form.body.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="input-group input-file col-11 mx-auto" name="{{ form.file.html_name }}">
                        <input type="text" class="form-control" placeholder='Выберите файл'
                               name="{{ form.file.html_name }}"/>
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-danger">Reset</button>
    		            </span>
                    </div>
                </div>

                <div class="form-group">
                    <a href="#" id="select-all" class="btn btn-outline-primary">Выбрать всех</a>
                    <a href="#" id="teachers" class="btn btn-outline-primary">Преподаватели</a>
                    <a href="#" id="office" class="btn btn-outline-primary">Офис</a>
                    <a href="#" id="deselect-all" class="btn btn-outline-primary">Удалить всех</a>
                    {{ form.teachers }}
                </div>

                <div class="col-12 text-center">
                    {% for error in form.teachers.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <hr/>

                <h6 class="col-12 text-center">Для отправки сообщений по расписанию заполните поля Дата и Время</h6>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                        <input class="form-control date-picker"
                               name="{{ form.date.html_name }}"
                               id="{{ form.date.id_for_label }}"
                               autocomplete="off"
                               value="{% if form.date.value %}{{ form.date.value }}{% endif %}">
                        {% for error in form.date.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group col-6">
                        <label for="{{ form.time.id_for_label }}">{{ form.time.label }}</label>
                        <input class="form-control time-picker"
                               name="{{ form.time.html_name }}"
                               id="{{ form.time.id_for_label }}"
                               autocomplete="off"
                               value="{% if form.time.value %}{{ form.time.value }}{% endif %}"
                        >
                        {% for error in form.time.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>


                <input type="submit" class="btn btn-primary btn-block" value="Отправить">
            </form>

        </div>
    </div>
    <div class="row mt-4">
        <h4 class="col-12 text-center">История</h4>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Заголовок</th>
                <th scope="col">Текст</th>
                <th scope="col">Дата</th>
                <th scope="col">Получатели</th>
                <th scope="col">Функции</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                {% if not message.is_sender %}
                    <tr class="table-warning">
                        {% else %}
                    <tr>
                {% endif %}
            <th scope="row">{{ message.title }}</th>
            <th>{{ message.body }}</th>
            <th>{{ message.datetime|date:"d.m.Y H:i" }}</th>
            <th>{{ message.receivers }}</th>
            <th><a href="#" message_id="{{ message.id }}" class="active-popup">Удалить</a></th>
            <!-- <th><a onClick="return window.confirm('Подтвердите удаление!')"
                           href="/mailing/delete/{{ message.id }}">Удалить</a></th>
                <a onClick="return window.confirm('Подтвердите удаление!')"
                           href="/mailing/delete/{{ message.id }}">Удалить</a> !-->
            </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    <script src="/static/autoresize/autosize.min.js"></script>
    <script>autosize($('textarea'));</script>
    <script>
        $(document).ready(function () {
            let $confirm_window = $('#confirm_window'); // Окно подтверждения
            let $delete_form = $('#delete_form'); // Форма для удаления сообщения
            $('a[message_id]').click(function (e) {
                e.preventDefault();
                console.log('OK');
                let message_id = $(this).attr('message_id');
                console.log(message_id);
                $delete_form.children('input[name="id"]').attr('value', message_id);
                $delete_form.attr('action', `/mailing/delete/${message_id}`);
                $confirm_window.fadeIn(2);
                $("body").css("overflow-y", "hidden");
            });

            $('#btn_popup_cancel').click(function () {
                $confirm_window.fadeOut(2);
                $("body").css("overflow-y", "visible");
            });

            $('#btn_popup_accept').click(function () {
                $delete_form.submit();
            });
        });
    </script>
    <script>
        jQuery.datetimepicker.setLocale('ru');

        jQuery('.date-picker').datetimepicker({
            dayOfWeekStart: 1,
            i18n: {
                de: {
                    months: [
                        'Januar', 'Februar', 'März', 'April',
                        'Mai', 'Juni', 'Juli', 'August',
                        'September', 'Oktober', 'November', 'Dezember',
                    ],
                    dayOfWeek: [
                        "So.", "Mo", "Di", "Mi",
                        "Do", "Fr", "Sa.",
                    ]
                }
            },
            timepicker: false,
            format: 'd.m.Y',
        });

        jQuery('.time-picker').datetimepicker({
            datepicker: false,
            step: 30,
            format: 'H:i'

        });
    </script>
    <script>
        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        $(function () {
            bs_input_file();
        });

        let teachers = [{% for teacher in teachers %}'{{ teacher.id }}', {% endfor %}];
        let office = [{% for user in office %}'{{ user.id }}', {% endfor %}];

        $('#teachers').click(function () {
            $('#jq-milt').multiSelect('deselect', office);
            $('#jq-milt').multiSelect('select', teachers);
            return false;
        });

        $('#office').click(function () {
            $('#jq-milt').multiSelect('deselect', teachers);
            $('#jq-milt').multiSelect('select', office);
            return false;
        });
    </script>
{% endblock %}