{% extends 'telegrambot/base.html' %}

{% block title %}
    Список заказов на детали
{% endblock %}

{% block content %}
    <div class="row">
        <h4 class="col-12 text-center">Список заказов на детали</h4>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col-12 p-3">
            <a href="{% url 'orders_list' %}"
               class="list-group-item flex-fill text-center list-group-item-action {% if not is_ready %}active{% endif %}">Новые заказы</a>
            <a href="{% url 'orders_list_archive' %}"
               class="list-group-item flex-fill text-center list-group-item-action {% if is_ready %}active{% endif %}">Архив</a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table col-12 col-lg-10 col-xl-7 mx-auto table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Филиал</th>
                    <th scope="col">Преподаватель</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>

                </thead>
                <tbody>

                {% for order in orders %}
                    <tr class="text-center">
                        <td>{{ order.id }}</td>
                        <td>{{ order.created|date:"d.m.Y" }}</td>
                        <td>{{ order.branch }}</td>
                        <td>{{ order.teacher }}</td>
                        <th>{% if order.is_ready %}Собран{% else %}Собирается{% endif %}</th>
                        <td><a href="{% url 'order_detail' order.id %}" target="_blank">Подробнее</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}