<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ №{{ order.id }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <h4 class="text-center col-12">Заказ деталей №{{ order.id }}</h4>
        <div class="text-center col-12 col-lg-4">
            <h5>Преподаватель: {{ order.teacher }}</h5>
        </div>
        <div class="text-center col-12 col-lg-4">
            <h5>Филиал: {{ order.branch }}</h5>
        </div>
    </div>

    <div class="row text-center mt-3">
        <h4 class="col-12">Наборы</h4>
        {% for item in items %}
            <p class="col-12 col-lg-7 mx-auto border p-3">{{ item.set_type }} - №{{ item.set_number }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <h4 class="col-12 text-center">Список деталей</h4>
        <table class="table col-12 col-lg-7 mx-auto table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Картинка</th>
                <th scope="col">Наименование</th>
                <th scope="col">Кол-во</th>
            </tr>

            </thead>
            <tbody>

            {% for id, detail in details.items %}
                <tr class="text-center">
                    <td><img src="{{ detail.image }}" height="40" alt=""></td>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.need_count }} шт.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>