{% extends 'telegrambot/base.html' %}

{% block title %}
    Фотографии с занятий
{% endblock %}

{% block content %}
    {% load bootstrap_pagination %}
    <div class="row mb-3">
        <h3 class="col-12 text-center">Фотографии с занятий {{ date.start }} - {{ date.end }}</h3>
    </div>

    <div class="row">
        <form action="" method="GET" class="col-12 col-md-6 row d-flex justify-content-center">
            <div class="form-row col-12 col-md-6">
                <label for="id_date" class="col-3 col-form-label col-form-label-sm">{{ form.date.label }} </label>
                <input id="id_date" class="col-9 mb-3 form-control form-control-sm" name="date"
                       type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                       value='{% if form.date.value %}{{ form.date.value }}{% endif %}'>
                {{ form.date.errors }}

            </div>
            <div class="col-12 col-md-6">
                <button type="submit" name="button" class="btn btn-primary btn-sm btn-block">Применить</button>
            </div>
            <div class="row col-12 text-center">
            <a class="col-12 col-md-4 p-2" href="?date={{ date.prev_weak }}">Предыдущая неделя</a>
            {% if date.now_weak %}
                <a class="col-12 col-md-4 p-2" href="?date={{ date.now_weak }}">Текущая неделя</a>
            {% endif %}
            {% if date.next_weak %}
                <a class="col-12 col-md-4 p-2" href="?date={{ date.next_weak }}">Следующая неделя</a>
            {% endif %}
                </div>
        </form>
        <div class="col-12 col-md-6 row text-center">
                <h6 class=" col-12 col-lg-5 m-1 p-2">Количество фотографий:
                    {% if photo_count %}
                        {{ photo_count }}
                    {% else %}
                        0
                    {% endif %}
                </h6>
            <h6 class="col-12 col-lg-5 m-1 p-2">Количество преподавателей: {{ teacher_count }}</h6>
        </div>
    </div>
    <!-- СТАТИСТИКА !-->

    <!-- PAGINATOR !-->
    {% if result %}
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 %}
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-borderless my-table p-2"
               style="border-spacing: 0 10px;border-collapse: separate">
            <thead>
            <tr>
                <th scope="col"><a href="?order=teacher">Преподаватель</a></th>
                <th scope="col"><a href="?order=branch">Филиал</a></th>
                <th scope="col">Дата занятий</th>
                <th scope="col"><a href="?order=-created">Дата и время отправки</th>
                <th scope="col">Количество фотографий</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for photo in result %}
                <tr class="table-success my-tr">
                    <th style="border-radius: 4px 0 0 4px">{{ photo.teacher }}</th>
                    <th>{{ photo.branch}}</th>
                    <th>{{ photo.photo_created|date:"d.m.Y" }}</th>
                    <th>{{ photo.created|date:"d.m.Y H:i" }}</th>
                    <th>{% if photo.photo_count %}{{ photo.photo_count}}{% else %}Нет информации{% endif %}</th>
                    <th>{% if photo.path %}<a href="{{ photo.path }}" target="_blank">Посмотреть</a>{% endif %}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- PAGINATOR !-->
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 %}
    </div>
    {% else %}
        <div class="col-12 text-center">Нет фотографий</div>
    {% endif %}
    <script type="text/javascript">

        $('#id_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });

    </script>
    <script src="/static/scripts/contextmenu.js"></script>
{% endblock %}