{% extends 'telegrambot/base.html' %}

{% block title %}
    Подготовка
{% endblock %}

{% block content %}
    {% load bootstrap_pagination %}
    <div class="row">
        <h3 class="col-12 text-center">Подготовки {{ date.start }} - {{ date.end }}</h3>
    </div>

    <div class="row">
        <form action="" method="GET" class="col-12 col-md-6 row d-flex justify-content-center">
            <div class="form-row col-12 col-md-6">
                <label for="id_date" class="col-3 col-form-label col-form-label-sm">{{ form.date.label }} </label>
                <input id="id_date" class="col-9 mb-3 form-control form-control-sm" name="date"
                       type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                       value='{% if form.date.value %}{{ form.date.value }}{% endif %}'>
                {{ form.date.errors }}
            </div>
            <div class="col-12 col-md-6">
                <button type="submit" name="button" class="btn btn-primary btn-sm btn-block">Применить</button>
            </div>
        </form>
        <div class="col-md-6 col-12">
        </div>
    </div>
    <a href="?date={{ date.prev_weak }}">Предыдущая неделя</a>
    {% if date.now_weak %}
        <a href="?date={{ date.now_weak }}">Текущая неделя</a>
    {% endif %}
    {% if date.next_weak %}
        <a href="?date={{ date.next_weak }}">Следующая неделя</a>
    {% endif %}

    <!-- PAGINATOR !-->
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 %}
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-borderless my-table p-2"
               style="border-spacing: 0 10px;border-collapse: separate">
            <thead>
            <tr>
                <th scope="col">Преподаватель</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Фото</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher, prepare in result.items %}
                {% if prepare != False %}
                    <tr class="table-success my-tr">
                        <th style="border-radius: 4px 0 0 4px">{{ prepare.0.teacher }}</th>
                        <th>{{ prepare.0.date|date:"d.m.Y" }}</th>
                        <th>{{ prepare.0.time|date:"H:i" }}</th>
                        <th class="text-left" style="border-radius: 0 4px 4px 0">{% for image in prepare.1 %}
                            <img src="/{{ image }}" alt="Not found" height="50" class="img-popup img-contextmenu"
                                 data-id="{{ prepare.2 }}" data-object="prepare">
                        {% endfor %}
                        </th>
                    </tr>
                {% else %}
                    <tr class="table-danger my-tr">
                        <th style="border-radius: 4px 0 0 4px" scope="row">{{ teacher }}</th>
                        <th scope="row"> -</th>
                        <th scope="row"> -</th>
                        <th scope="row" style="border-radius: 0 4px 4px 0"> -</th>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- PAGINATOR !-->
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 %}
    </div>
    <script type="text/javascript">

        $('#id_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });

    </script>
    <script src="/static/scripts/contextmenu.js"></script>
{% endblock %}