<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Перед началом работы с ботом внимательно изучите инструкцию">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta property="og:image" content="https://www.ligajournal.ru/static/instruction/manual.png">
    <meta property="og:title" content="Инструкция">
    <meta property="og:url" content="https://www.ligajournal.ru/instruction">
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center bg-dark text-light">
                <h1>Инструкция с картинками 2 - Подготовки</h1>
            </div>
        </div>
        <div class="content">
        <div class="row">
            <h3 class="col-12 text-center my-2 font-weight-normal">
                Система активно тестируется и улучшается.
                По всем вопросам и предложениям обращаться к
                <a href="https://t.me/stas12312" style="text-decoration: none">Станиславу</a>
                в telegram.
            </h3>
        </div>

        <hr />

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 1. Выбрать фото</h2>
                <h3 class="font-weight-normal p-1">
                    Выберите фотографии сборки и отправьте их.
                </h3>
            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/p/1.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>
            <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 2. Загрузка фото</h2>
                <h3 class="font-weight-normal p-1">
                    Дождитесь, пока все ваши фотографии будут загружены, после загрузки каждого фото, бот сообщает,
                    что фото принятно.
                </h3>
            </div>
            <div class="col-12  col-md  p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/p/2.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 3. Без названия</h2>
                <h3 class="font-weight-normal p-1">
                    После того, как все фото загрузились, вам нужно ввести слово 'Подготовка'.
                </h3>

            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/p/3.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>

        <hr/>

        <div class="row text-center d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 p-0 p-lg-5">
                <h2 class="p-2 text-center">Шаг 4. Готово</h2>
                <h3 class="font-weight-normal p-1">
                    Бот сообщит, что фото с подготовки принято.
                </h3>

            </div>
            <div class="col-12  col-md p-0 p-xl-5">
                <img class="shadow-lg rounded" src="{% static 'instruction/p/4.png' %}" alt="" style="max-height: 80vh">
            </div>
        </div>



    <footer class="row text-center">
        <div class="col-12 bg-dark p-2">
            <a href="https://t.me/stas12312"
               class="text-light" style="text-decoration: none" target="_blank">2018 Stanislav Rush</a>
        </div>
    </footer>
    </div>
    </div>

</body>
</html>