<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>История отчетов - {{ teacher.full_name }}</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'airpicker/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://contract.ligajournal.ru/static/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        body {
            background: whitesmoke;
        }

        h4 {
            font-weight: 400;
        }

        .item {
            cursor: default;
            transition-property: border;
        }

        .item:hover {
            background: aliceblue;
            border-color: rgba(40, 105, 219, 0.44) !important;
        }

        .transition {
            transition-property: box-shadow;
            transition-duration: 0.3s;
        }

        .transition:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
        }

        div {
            cursor: default;
        }

        .dark-theme {
            background: #15181c;
        }

        .dark-theme-text {
            color: #babbbb;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row shadow-sm mb-2 bg-white">
        <h3 class="col-12 text-center p-1">История отчётов {% if month %}за {{ month }}{% endif %}</h3>
    </div>
    <div class="row">
        <h3 class="col-12 text-center p-1 text-muted">{{ teacher }}</h3>
    </div>
    <!-- Начало блока выбор интервала !-->
    <form action="">
        <div class="row col-12   col-md-6 col-xl-4  mx-auto my-md-1 mx-xl-0 d-flex justify-content-between  border p-1">
            <p class="col-12 text-center">Дата постановки</p>
            <div class="form-row col-12">
                <label for="id_min_date"
                       class="col-2 col-form-label col-form-label-sm">{{ form.min_date.label }} </label>
                <input id="id_min_date" class="col-10 mb-3 form-control form-control-sm" name="min_date"
                       type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off" style="cursor:pointer"
                       value='{% if form.min_date.value %}{{ form.min_date.value }}{% endif %}'
                       onfocus="hideKeyboard($(this))"
                >
                {{ form.min_date.errors }}
            </div>

            <div class="form-row col-12">
                <label for="id_max_date"
                       class="col-2 col-form-label col-form-label-sm">{{ form.max_date.label }}</label>
                <input id="id_max_date" class="col-10 mb-3 form-control form-control-sm" name="max_date"
                       type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off" style="cursor:pointer"
                       value="{% if form.max_date.value %}{{ form.max_date.value }}{% endif %}"
                        onfocus="hideKeyboard($(this))"
                >
                {{ form.max_date.errors }}
            </div>
            <div class="row d-flex justify-content-between mx-1 col-12">
                <button type="submit" name="button" class="btn btn-primary btn-block col-12 my-1">Применить</button>

            </div>
            <div class="row d-flex justify-content-between mx-1 col-12">
                <a href="{% url 'profile_logs' user_token %}" class="btn btn-danger btn-block col-12 my-1">Сбросить</a>

            </div>
        </div>
    </form>
    <!-- Конец блока выбора интервала !-->

    <div class="row p-1 d-flex justify-content-around">
        <div class="col-12 col-lg-6 my-3 ">
            <h4 class="col-12 text-center mb-3">Сортировки</h4>
            <div class="p-1 shadow-sm  transition border rounded row mx-auto bg-white">

                {% if not sorts %}
                    <h5 class="col-12 text-center p-4 ">Нет информации</h5>
                {% else %}
                    <div class="col-12 row text-center mx-auto p-1 m-0 ">
                        <div class="col-12 col-sm-6 ">Филиал</div>
                        <div class="col-12 col-sm-3 ">Дата</div>
                        <div class="col-12 col-sm-3 ">Статус</div>
                    </div>
                {% endif %}
                {% for sort in sorts %}
                    <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                        <div class="col-12 col-sm-6">{{ sort.branch }}</div>
                        <div class="col-12 col-sm-3">{{ sort.date|date:'d.m.Y' }}</div>
                        <div class="col-12 col-sm-3">{{ sort.get_status_display }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12 col-lg-6 my-3">
            <h4 class="col-12 text-center mb-3">Подготовки</h4>
            <div class="p-1 shadow-sm transition border rounded row mx-auto bg-white">

                {% if not prepares %}
                    <h5 class="col-12 text-center p-4">Нет информации</h5>
                {% else %}
                    <div class="col-12 row text-center mx-auto p-1 m-0">
                        <div class="col-12 col-lg-12">Дата</div>
                    </div>
                {% endif %}
                {% for prepare in prepares %}
                    <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                        <div class="col-12 col-lg-12">{{ prepare.date|date:'d.m.Y' }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row col-12 my-3">
            <h4 class="col-12 text-center mb-3">Фотографии кабинетов</h4>
            <div class="transition p-1 shadow-sm border col-12 rounded bg-white">

                {% if not logs %}
                    <h5 class="col-12 text-center p-4">Нет информации</h5>
                {% else %}
                    <div class="col-12 row text-center mx-auto p-1 m-0">
                        <div class="col-12 col-sm-4">Филиал</div>
                        <div class="col-12 col-sm-4">Занятие</div>
                        <div class="col-12 col-sm-2">Время до начала занятия</div>
                        <div class="col-12 col-sm-2">Время</div>
                    </div>
                {% endif %}
                {% for log in logs %}
                    <div class="col-12 row text-center mx-auto p-1 m-0 border my-1 item">
                        <div class="col-12 col-sm-4">{{ log.branch }}</div>
                        <div class="col-12 col-sm-4">
                            {% if log.lesson %}{{ log.lesson }}{% else %} - {% endif %}
                        </div>
                        <div class="col-12 col-sm-2">
                            {% if log.time_before %}{{ log.time_before }} мин.{% else %} - {% endif %}
                        </div>
                        <div class="col-12 col-sm-2">{{ log.date|date:'d.m.Y' }} {{ log.time }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row col-12 my-3">
            <h4 class="col-12 text-center mb-3">Фотографии с занятий</h4>
            <div class="p-1 shadow-sm border col-12 rounded transition bg-white">

                {% if not photos %}
                    <h5 class="col-12 text-center p-4">Нет информации</h5>
                {% else %}
                    <div class="col-12 row text-center mx-auto p-1 m-0">
                        <div class="col-12 col-sm-5">Филиал</div>
                        <div class="col-12 col-sm-3">Время отправки</div>
                        <div class="col-12 col-sm-2">Дата занятий</div>
                        <div class="col-12 col-sm-2">Ссылка</div>
                    </div>
                {% endif %}
                {% for photo in photos %}
                    <div class="col-12 row text-center mx-auto p-1 m-0 border my-1 item">
                        <div class="col-12 col-sm-5">{{ photo.branch }}</div>
                        <div class="col-12 col-sm-3">{{ photo.created|date:"d.m.Y H:i" }}</div>
                        <div class="col-12 col-sm-2">{{ photo.photo_created|date:"d.m.Y" }}</div>
                        <div class="col-12 col-sm-2">
                            <a href="{{ photo.path }}" target="_blank">Посмотреть</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

            <div class="row col-12 my-3">
            <h4 class="col-12 text-center mb-3">Заказы деталей</h4>
            <div class="p-1 shadow-sm border col-12 rounded transition bg-white">

                {% if not orders %}
                    <h5 class="col-12 text-center p-4">Нет информации</h5>
                {% else %}
                    <div class="col-12 row text-center mx-auto p-1 m-0">
                        <div class="col-12 col-sm-5">Филиал</div>
                        <div class="col-12 col-sm-3">Дата заказа</div>
                        <div class="col-12 col-sm-2">Статус</div>
                        <div class="col-12 col-sm-2">Ссылка для просмотра</div>
                    </div>
                {% endif %}
                {% for order in orders %}
                    <div class="col-12 row text-center mx-auto p-1 m-0 border my-1 item">
                        <div class="col-12 col-sm-5">{{ order.branch }}</div>
                        <div class="col-12 col-sm-3">{{ order.created|date:"d.m.Y H:i" }}</div>
                        <div class="col-12 col-sm-2">{% if order.is_ready %}Собран{% else %}Формируется{% endif %}</div>
                        <div class="col-12 col-sm-2">
                            <a href="/orders/{{ order.token }}/" target="_blank">Посмотреть</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'airpicker/js/datepicker.min.js' %}"></script>
<script src="{% static 'scripts.js' %}"></script>

<script>
    jQuery('#id_min_date, #id_max_date').datepicker({
        maxDate: new Date(),
        autoClose: true,
    });

    function hideKeyboard(element) {
       element.blur();
    }
</script>
</body>

</html>