<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление задачами - {{ user.full_name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://contract.ligajournal.ru/static/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        body {
            background: whitesmoke;
        }

        h4 {
            font-weight: 400;
        }

        .item {
            cursor: default;
        }

        .item:hover {
            background: aliceblue;
        }

        .transition {
            transition-property: box-shadow;
            transition-duration: 0.3s;
        }

        .transition:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
        }

        div {
            cursor: default;
        }

        span.nav-link {
            cursor: pointer;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row shadow-sm mb-2 bg-white">
        <h3 class="col-12 text-center p-1">Управление задачами</h3>
    </div>

    <!-- Навигационная панель !-->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <span class="nav-link active" id="pills-executed-tab" data-toggle="pill" href="#pills-executed" role="tab"
                  aria-controls="pills-executed" aria-selected="true">Выполняемые</span>
        </li>
        <li class="nav-item">
            <span class="nav-link" id="pills-deliver-tab" data-toggle="pill" href="#pills-deliver" role="tab"
                  aria-controls="pills-deliver" aria-selected="false">Поставленные</span>
        </li>
        <li class="nav-item">
            <span class="nav-link" id="pills-complete-tab" data-toggle="pill" href="#pills-complete" role="tab"
                  aria-controls="pills-complete" aria-selected="false">Завершенные</span>
        </li>

        {% if department_tasks %}
            <li class="nav-item">
            <span class="nav-link" id="pills-complete-tab" data-toggle="pill" href="#pills-department" role="tab"
                  aria-controls="pills-complete" aria-selected="false">Задачи ваших отделов</span>
            </li>
        {% endif %}
    </ul>
    <!-- Конец навигационной панели !-->

    <div class="tab-content mx-auto" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-executed" role="tabpanel" aria-labelledby="pills-executed-tab">
            <div class="row col-12 my-3 mx-auto">
                <h4 class="col-12 text-center">Выполняемые</h4>
                <div class="p-1 shadow-sm border col-12 rounded row mx-auto transition bg-white mt-2">

                    {% if not execute_tasks %}
                        <h5 class="col-12 text-center p-4">Нет информации</h5>
                    {% else %}
                        <div class="col-12 row text-center mx-auto p-1 m-0">
                            <div class="col-12 col-sm-3">Постановщик</div>
                            <div class="col-12 col-sm-3">Описание</div>
                            <div class="col-12 col-sm-2">Филиал</div>
                            <div class="col-12 col-sm-2">Дата создания</div>
                            <div class="col-12 col-sm-1">Статус</div>
                            <div class="col-12 col-sm-1">Дедлайн</div>
                        </div>
                    {% endif %}
                    {% for task in execute_tasks %}
                        <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                            <div class="col-12 col-sm-3">{% if user == task.director %}
                                Вы
                            {% else %}{{ task.director }}{% endif %}</div>
                            <div class="col-12 col-sm-3 text-break">{{ task.text|safe }}</div>
                            <div class="col-12 col-sm-2">{% if task.branch %}
                                {{ task.branch }}{% else %} - {% endif %}</div>
                            <div class="col-12 col-sm-2">{{ task.created|date:'d.m.Y' }}</div>
                            <div class="col-12 col-sm-1">{{ task.get_status_display }}</div>
                            <div class="col-12 col-sm-1">{% if task.deadline %}
                                {{ task.deadline }}{% else %} - {% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-deliver" role="tabpanel" aria-labelledby="pills-deliver-tab">
            <div class="row col-12 my-3 mx-auto">
                <h4 class="col-12 text-center">Поставленные</h4>
                <div class="p-1 shadow-sm border col-12 rounded row mx-auto transition bg-white mt-2">

                    {% if not deliver_tasks %}
                        <h5 class="col-12 text-center p-4">Нет информации</h5>
                    {% else %}
                        <div class="col-12 row text-center mx-auto p-1 m-0">
                            <div class="col-12 col-sm-4">Исполнитель</div>
                            <div class="col-12 col-sm-3">Описание</div>
                            <div class="col-12 col-sm-2">Дата создания</div>
                            <div class="col-12 col-sm-2">Статус</div>
                        </div>
                    {% endif %}
                    {% for task in deliver_tasks %}
                        <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                            <div class="col-12 col-sm-4">
                                {% if task.executor %}{{ task.executor }}
                                {% else %}Не назначен{% endif %}</div>
                            <div class="col-12 col-sm-3 text-break">{{ task.text|safe }}</div>
                            <div class="col-12 col-sm-2">{{ task.created|date:'d.m.Y' }}</div>
                            <div class="col-12 col-sm-2">{{ task.get_status_display }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="pills-complete" role="tabpanel" aria-labelledby="pills-complete-tab">
            <div class="row col-12 my-3 mx-auto">
                <h4 class="col-12 text-center">Архив задач за последние 30 дней</h4>
                <div class="p-1 shadow-sm border col-12 rounded row mx-auto transition bg-white mt-2">

                    {% if not closed_tasks %}
                        <h5 class="col-12 text-center p-4">Нет информации</h5>
                    {% else %}
                        <div class="col-12 row text-center mx-auto p-1 m-0">
                            <div class="col-12 col-sm-3">Постановщик</div>
                            <div class="col-12 col-sm-3">Исполнитель</div>
                            <div class="col-12 col-sm-2">Описание</div>
                            <div class="col-12 col-sm-2">Создана</div>
                            <div class="col-12 col-sm-2">Закрыта</div>
                        </div>
                    {% endif %}
                    {% for task in closed_tasks %}
                        <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                            <div class="col-12 col-sm-3">{% if user == task.director %}
                                <span class="text-primary">Вы</span>
                            {% else %}{{ task.director }}{% endif %}</div>
                            <div class="col-12 col-sm-3">{% if user == task.executor %}
                                <span class="text-primary">Вы</span>
                                {% elif task.executor %}{{ task.executor }}{% else %} - {% endif %}</div>
                            <div class="col-12 col-sm-2 text-break">{{ task.text|safe }}</div>
                            <div class="col-12 col-sm-2">{{ task.created|date:'d.m.Y H:i' }}</div>
                            <div class="col-12 col-sm-2">{{ task.closed|date:'d.m.Y H:i' }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if department_tasks %}
            <div class="tab-pane fade" id="pills-department" role="tabpanel" aria-labelledby="pills-complete-tab">
                <div class="row col-12 my-3 mx-auto">
                    <h4 class="col-12 text-center">Задачи ваших отделов</h4>
                    <div class="p-1 shadow-sm border col-12 rounded row mx-auto transition bg-white mt-2">

                        {% if not department_tasks %}
                            <h5 class="col-12 text-center p-4">Нет информации</h5>
                        {% else %}
                            <div class="col-12 row text-center mx-auto p-1 m-0">
                                <div class="col-12 col-sm-2">Постановщик</div>
                                <div class="col-12 col-sm-2">Исполнитель</div>
                                <div class="col-12 col-sm-4">Описание</div>
                                <div class="col-12 col-sm">Отдел</div>
                                <div class="col-12 col-sm">Создана</div>
                                <div class="col-12 col-sm">Закрыта</div>
                            </div>
                        {% endif %}
                        {% for task in department_tasks %}
                            <div class="col-12 row text-center border mx-auto p-1 my-1 item">
                                <div class="col-12 col-sm-2">{% if user == task.director %}
                                    <span class="text-primary">Вы</span>
                                {% else %}{{ task.director }}{% endif %}</div>
                                <div class="col-12 col-sm-2">{% if user == task.executor %}
                                    <span class="text-primary">Вы</span>
                                    {% elif task.executor %}{{ task.executor }}{% else %} - {% endif %}</div>
                                <div class="col-12 col-sm-4 text-break">{{ task.text|safe }}</div>
                                <div class="col-12 col-sm">{{task.departament.name}}</div>
                                <div class="col-12 col-sm">{{ task.created|date:'d.m.Y H:i' }}</div>
                                <div class="col-12 col-sm">{{ task.closed|date:'d.m.Y H:i' }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>