{% extends 'telegrambot/base.html' %}

{% block title %}
    Настройки
{% endblock %}

{% block content %}
    <h3 class="col-12 text-center">Настройки</h3>
    <div>
    {% csrf_token %}
        {% for setting in settings %}
            <hr>
            <div class="form-group">
                <div class="row">
                        <label for="{{ setting.name }}"
                               class="col-6 col-md-2 col-xl-2 text-center text-md-right mx-auto"><i>{{ setting.name }}:</i>
                        </label>
                    <input type="hidden" name="type" value="{{ setting.type }}">
                        {% if setting.type == 0 %}
                            <span class="switch col-6 col-md-8 col-xl-9 text-center mx-auto">
                                <input class="form-control" id="{{ setting.name }}"
                                       type="checkbox"  name="{{ setting.name }}"
                                       value="{{ setting.name }}"
                                        {% if setting.value == '1' %} checked{% endif %}
                                >
                                <label class="col-2" for="{{ setting.name }}">Вкл</label>
                            </span>
                        {% elif setting.type == 1 %}
                            <input class="col-11 col-md-8 col-xl-9 form-control mx-auto"
                                   id="{{ setting.name }}"
                                   type="number"
                                   name="{{ setting.name }}"
                                   value="{{ setting.value }}"
                            >
                        {%  elif setting.type == 2 %}
                            <div contenteditable="true" class="col-11 col-md-8 col-xl-9 mx-auto"
                                      id="{{ setting.name }}" name="{{ setting.name }}"
                                      >{{ setting.value|safe }} </div>
                        {% endif %}
                    <small class="col-12 form-text text-muted text-center">{{ setting.description }}
                        <a class="apply-setting btn-save"
                           href="javascript:void(0)">Сохранить</a>
                        <br>
                        <div style="opacity: 0" class="mt-1">&nbsp</div>
                    </small>
                </div>


            </div>

        {% endfor %}
    </div>
    <script>
    
    $('.apply-setting').click(function () {
        let data = $(this).parent().parent();
        let alert_area = data.children('small').children('div');
        let type = data.children('input[name="type"]').attr('value');

        let name, value;
        let csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
        if(type === '0'){
            let checkbox = data.children('.switch').children('input');
            name = checkbox.attr('name');
            if(checkbox['0'].checked){
                value = 1;
            } else {
                value = 0;
            }
        } else if (type === '1'){
            let input = data.children('input[type=number]');
            value = input.val();
            name = input.attr('name');
        } else if (type === '2'){
            let textarea = data.children('div[contenteditable="true"]');
            name = textarea.attr('name');
            value = textarea.html();
        }
        $.ajax({
            url: '/apply-settings',
            method: 'post',
            data: {
            'csrfmiddlewaretoken': csrf,
            'value': value,
            'name': name,
            'type': type
            },
            success: function(msg){
                //console.log('Статус: ' + msg.status + '\n' + msg.msg);
                if(msg.status === 'OK'){
                    alert_area.addClass('text-success');
                    alert_area.removeClass('text-danger');
                } else {
                    alert_area.addClass('text-danger');
                    alert_area.removeClass('text-success');
                }
                alert_area.text(msg.msg);
                alert_area.animate({opacity:'1'},300);
                setTimeout(function () {
                    alert_area.animate({opacity:'0'},300, function(){
                        alert_area.text('&nbsp');
                    });
                }, 1300);
            }
        })
    });
    $('div[contenteditable]').keydown(function(e) {
    // trap the return key being pressed
    if (e.keyCode === 13) {
      // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
      document.execCommand('insertHTML', false, '<br><br>');
      // prevent the default behaviour of return key pressed
      return false;
    }
        if (e.keyCode === 45 || e.keyCode === 22) {
      // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
      document.execCommand('insertHTML', false, '');
      // prevent the default behaviour of return key pressed
      return false;
    }
  });
    </script>
    <script src="/static/autoresize/autosize.min.js"></script>
    <script>
    autosize($('textarea'));
    </script>
{% endblock %}