{% extends 'telegrambot/base.html' %}

{% block title %}
    История сортировок
{% endblock %}

{% block links %}
{% endblock %}

{% block content %}

    <div
            id="comment_field"
            class="container"
            style="position: absolute;
            width:300px;
            display: none;
            background: white;
            z-index: 900;
            box-shadow: 0 0 10px 1px gray">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="none">
            <input type="hidden" name="action" value="unaccept">
            <textarea name="comment" id="comment" cols="20" rows="5" class="my-2 form-control"
                      placeholder="Введите причину"></textarea>
        </form>
        <div class="row">
            <button value="accept" class="btn btn-accept col-12"><i class="fas fa-check"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="list-group list-group-horizontal col-12 p-3">
            <a href="{% url 'static_sorting_by_branch' %}"
               class="list-group-item flex-fill text-center list-group-item-action">Статистика по филиалам</a>
            <a href="{% url 'static_sorting_by_teacher' %}"
               class="list-group-item flex-fill text-center list-group-item-action">Статистика по преподавателям</a>
        </div>
    </div>

    <div class="row">
        <div class="list-group list-group-horizontal col-12 p-3">
            <a href="?mode=all"
               class="list-group-item flex-fill
               text-center list-group-item-action list-group-item-primary">Все отчёты</a>
            <a href="?mode=accepted"
               class="list-group-item flex-fill
               text-center list-group-item-action list-group-item-success">Принятые</a>
            <a href="?"
               class="list-group-item flex-fill
               text-center list-group-item-action list-group-item-warning">Необработанные</a>
        </div>
    </div>

    {% if sorting %}
        <div class="table-responsive p-1">
            <table class="table table-sm mx-auto table-borderless my-table"
                   style="border-spacing: 0 10px;border-collapse: separate">
                <thead>
                <tr>
                    <th scope="col" style="min-width: 250px">Преподаватель</th>
                    <th scope="col" style="min-width: 160px">Филиал</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col" style="min-width: 200px">Фото</th>
                    <th scope="col" style="min-width: 240px">Функции</th>
                </tr>
                </thead>
                <tbody>
                {% for sort in page %}
                    <tr class="my-tr
                {% if sort.status == 1 %}
                    table-success
                {% elif sort.status == 2 %}
                    table-danger
                {% endif %}
                  image-tr">
                        <td data-label="Преподаватель" style="border-radius: 4px 0 0 4px">{{ sort.teacher }}</td>
                        <td data-label="Филиал">{{ sort.branch }}</td>
                        <td data-label="Дата">{{ sort.date|date:"d.m.Y" }}</td>
                        <td data-label="Время">{{ sort.time }}</td>
                        <td class="p-1 text-left" data-label="Фотографии">
                            {% for image in sort.get_photo_links %}
                                <img src="/{{ image }}" alt="Not found" height="50" class="img-popup img-contextmenu"
                                     data-object="sorting" data-id="{{ sort.id }}">
                            {% endfor %}
                        </td>
                        <td class="p-0 my-auto" align="center" data-label="Функции" style="border-radius: 0 4px 4px 0">
                            <div class="row m-0" style="height: 61px">
                                {% if sort.status == 0 %}
                                    <form action="" method="POST" class="col-6 p-0">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="accept">
                                        <input type="hidden" name="id" value="{{ sort.id }}">
                                        <button type="submit" class="btn btn-accept btn-block h-100"><i
                                                class="fas fa-check"></i></button>
                                    </form>
                                    <div class="p-0 col-6">
                                        <button class="btn btn-cancel btn-block h-100" value="{{ sort.id }}"
                                                name="unaccept"
                                                style="border-radius: 0 4px 4px 0"><i class="fas fa-times"></i></button>
                                    </div>
                                {% elif sort.status == 2 %}
                                    <form action="/admin/telegrambot/sort/{{ sort.id }}/delete" class="col-12 p-0">
                                        <input type="submit" class="btn btn-cancel btn-block h-100"
                                               style="border-radius: 4px" value="Удалить">
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row p-3">
            <h3 class="col-12 text-center">Нет данных</h3>
        </div>
    {% endif %}
    {% if page.has_other_pages %}
        {% load bootstrap_pagination %}
        {% bootstrap_paginate page range=5 %}
    {% endif %}
    <script>

        $comment_field = $('#comment_field');
        $btn_cancel = $comment_field.children('.row').children('button[value=cancel]');
        $btn_accept = $comment_field.children('.row').children('button[value=accept]');
        let $btn_onclick = null; //нажатая клавиша
        let is_show = false;
        $('button[name="unaccept"]').click(function (e) {
            $btn_onclick = $(this);
            let pos_field = $(this).offset();
            let width = $comment_field.width();
            let btn_height = $(this).height();
            let btn_width = $(this).width();
            $comment_field.fadeIn(function () {
                is_show = true;
            });
            $comment_field.offset({top: pos_field.top + btn_height, left: pos_field.left - width + btn_width / 3});
            $comment_field.children('form:first').children('input[name="id"]').attr('value', $(this).attr('value'));

        });

        $btn_cancel.click(function (e) {
            $comment_field.fadeOut();
            is_show = false;

        });

        $btn_accept.click(function (e) {
            let $textarea = $comment_field.children('form:first').children('textarea:first');
            console.log($textarea.val());
            if ($textarea.val()) {
                $comment_field.children('form:first').submit();
            }
        });

        $(window).resize(function (e) {
            //Перемещаем окно для комментирования
            if ($btn_onclick && is_show) {
                let pos = $btn_onclick.offset();
                let width = $comment_field.width();
                let btn_height = $btn_onclick.height();
                let btn_width = $btn_onclick.width();
                if (pos.left + width > $(window).width()) {
                    $comment_field.offset({top: pos.top + btn_height, left: $(window).width() - width - 100});
                } else {
                    $comment_field.offset({top: pos.top + btn_height, left: pos.left - width + btn_width / 3});
                }
            }

        });
        $(document).mouseup(function (e) { // событие клика по веб-документу
            let $cancel_btn = $('button[name="unaccept"]');
            if (!$comment_field.is(e.target)
                && $comment_field.has(e.target).length === 0
                && !$cancel_btn.is(e.target) && $cancel_btn.has(e.target).length === 0) {
                $comment_field.fadeOut();
                is_show = false;
            }
        });
    </script>
    <script src="/static/scripts/contextmenu.js"></script>
{% endblock %}