{% extends 'telegrambot/base.html' %}

{% block title %}
    Статистика сортировок по филиалам
{% endblock %}

{% block content %}
    <style>
        body {
            background: whitesmoke;
        }

        .form {
            padding: 0 16px;
            max-width: 550px;
            margin: 50px auto;
            font-size: 18px;
            font-weight: 600;
            line-height: 36px;
        }
    </style>
    <div class="row shadow-sm mb-2 bg-white">
        <h3 class="col-12 text-center p-1">Статистика по преподавателям {{ min_date|date:'d.m.Y' }}
            - {{ max_date|date:'d.m.Y' }}</h3>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col-12 p-3">
            <a href="{% url 'static_sorting_by_branch' %}"
               class="list-group-item flex-fill text-center list-group-item-action">Статистика по филиалам</a>
            <button
                    class="list-group-item flex-fill text-center list-group-item-action active">Статистика по
                преподавателям
            </button>
        </div>
    </div>
    <form action="" class="border bg-white">
        <div class="row d-flex justify-content-around p-3 my-2">
            <div class="row col-12  bg-white col-md-6 col-xl-4   mx-auto my-md-1 mx-xl-0 border p-1 shadow-sm">
                <div class="col-12 row">
                    <p class="col-12 text-center">Выберите период</p>
                    <div class="form-row col-12">
                        <label for="id_min_date"
                               class="col-2 col-form-label col-form-label-sm">{{ date_form.min_date.label }} </label>
                        <input id="id_min_date" class="col-10 mb-3 form-control form-control-sm" name="min_date"
                               type="text" placeholder="{{ min_date|date:'d.m.Y' }}" autocomplete="off"
                               style="cursor:pointer"
                               value='{% if date_form.min_date.value %}{{ date_form.min_date.value }}{% endif %}'
                               onfocus="hideKeyboard($(this))"
                        >
                        {{ date_form.min_date.errors }}
                    </div>
                    <div class="form-row col-12">
                        <label for="id_max_date"
                               class="col-2 col-form-label col-form-label-sm">{{ date_form.max_date.label }}</label>
                        <input id="id_max_date" class="col-10 mb-3 form-control form-control-sm" name="max_date"
                               type="text" placeholder="{{ max_date|date:'d.m.Y' }}" autocomplete="off"
                               style="cursor:pointer"
                               value="{% if date_form.max_date.value %}{{ date_form.max_date.value }}{% endif %}"
                               onfocus="hideKeyboard($(this))"
                        >
                        {{ date_form.max_date.errors }}
                    </div>
                </div>
            </div>

            <div class="row col-12  bg-white col-md-6 col-xl-4 my-2  mx-auto my-md-1 mx-xl-0 border shadow-sm p-1">
                <div class="col-12 row justify-content-center text-center d-flex">
                    <p class="col-12 text-center">Дополнительно</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               id="defaultCheck1"
                               {% if short_flag %}checked{% endif %} name="short_flag">
                        <label class="form-check-label" for="defaultCheck1">
                            Краткий вывод
                        </label>
                        <div class="form-row col-12">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row col-12  bg-white col-md-5 col-xl-3 my-2 mx-auto my-md-1 mx-xl-0
            d-flex justify-content-between shadow-sm border p-1">
                <div class="col-12 row">
                    <p class="col-12 text-center">Выберите кол-во сортировок</p>
                    <div class="form-row col-12">
                        <label for="id_min_value"
                               class="col-2 col-form-label col-form-label-sm">{{ count_form.min_value.label }} </label>
                        <input id="id_min_value" class="col-10 mb-3 form-control form-control-sm" name="min_value"
                               type="number" autocomplete="off" style="cursor:pointer"
                               value='{% if count_form.min_value.value %}{{ count_form.min_value.value }}{% endif %}'>
                        {{ count_form.min_value.errors }}
                    </div>

                    <div class="form-row col-12">
                        <label for="id_max_value"
                               class="col-2 col-form-label col-form-label-sm">{{ count_form.max_value.label }}</label>
                        <input id="id_max_value" class="col-10 mb-3 form-control form-control-sm" name="max_value"
                               type="number" autocomplete="off" style="cursor:pointer"
                               value="{% if count_form.max_value.value %}{{ count_form.max_value.value }}{% endif %}">
                        {{ count_form.max_value.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-1 my-1">
            <button type="submit" name="button" class="btn btn-primary btn-block col-12 col-md-3 my-1 mx-1">
                Применить
            </button>
            <a href="{% url 'static_sorting_by_teacher' %}" class="btn btn-danger btn-block col-12 col-md-3 my-1 mx-1">Сбросить
                фильтры</a>
        </div>
    </form>

    {% if not short_flag %}
        <div class="row d-flex justify-content-around mt-3">
            {% for teacher, sorts in result.items %}
                <div class="col-12 col-lg-6 row p-2">
                    <div class="border shadow col-12 bg-white">
                        <div class="col-12 row text-center my-2">
                            <h5 class="col-10 my-1">{{ teacher.full_name }}</h5>
                            <h5 class="col-2 my-1">
                                <span class="badge badge-pill badge-info">{{ sorts|length }}</span>
                            </h5>
                        </div>
                        {% if not short_flag %}
                            {% if sorts %}
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Преподаватель</th>
                                    </tr>
                                    </thead>
                                    {% for sort in sorts %}
                                        {% if sort.status == 1 %}
                                            <tbody class="table-success">
                                            {% elif sort.status == 2 %}
                                            <tbody class="table-danger">
                                            {% else %}
                                            <tbody class="table-warning">
                                        {% endif %}
                                    <tr>
                                        <th>{{ sort.date|date:'d.m.Y' }}</th>
                                        <th>{{ sort.branch }}</th>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <p class="col-12 text-center">Нет сортировок за выбранный период</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% for teacher, sorts in result.items %}

                <div class="inputGroup">
                    <input id="option_{{ teacher.id }}"
                           name="receivers" type="checkbox" checked value="{{ teacher.id }}"
                           class="col-12"
                    />
                    <label for="option_{{ teacher.id }}">{{ teacher.full_name }}
                    <span class="badge badge-pill badge-info">{{ sorts|length }}</span>
                    </label>
                </div>
            {% endfor %}
            <label for="text"></label>
            <textarea name="text" id="text" cols="30" rows="3" class="form-control col-12" required></textarea>

            <button type="submit" class="btn btn-primary btn-block mt-2">
                Отправить
            </button>
        </form>
    {% endif %}
    <script>
        jQuery('#id_min_date, #id_max_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });

        function hideKeyboard(element) {
            element.blur();
        }
    </script>

{% endblock %}