{% extends 'telegrambot/base.html' %}

{% block title %}
    Статистика сортировок по филиалам
{% endblock %}

{% block content %}
    <style>
        body {
            background: whitesmoke;
        }
    </style>
    <div class="row shadow-sm mb-2 bg-white">
        <h3 class="col-12 text-center p-1">Статистика по филиалам {{ min_date|date:'d.m.Y' }}
            - {{ max_date|date:'d.m.Y' }}</h3>
    </div>

    <div class="row">
        <div class="list-group list-group-horizontal col-12 p-3">
            <button
               class="list-group-item flex-fill text-center list-group-item-action active">Статистика по филиалам</button>
            <a href="{% url 'static_sorting_by_teacher' %}"
               class="list-group-item flex-fill text-center list-group-item-action">Статистика по
                преподавателям</a>
        </div>
    </div>

    <form action="">
        <div class="row col-12  bg-white col-md-6 col-xl-4  mx-auto my-md-1 mx-xl-0 d-flex justify-content-between  border p-1">
            <p class="col-12 text-center">Выберите интервал</p>
            <div class="form-row col-12">
                <label for="id_min_date"
                       class="col-2 col-form-label col-form-label-sm">{{ form.min_date.label }} </label>
                <input id="id_min_date" class="col-10 mb-3 form-control form-control-sm" name="min_date"
                       type="text" placeholder="{{  min_date|date:'d.m.Y' }}" autocomplete="off" style="cursor:pointer"
                       value='{% if form.min_date.value %}{{ form.min_date.value }}{% endif %}'
                       onfocus="hideKeyboard($(this))"
                >
                {{ form.min_date.errors }}
            </div>

            <div class="form-row col-12">
                <label for="id_max_date"
                       class="col-2 col-form-label col-form-label-sm">{{ form.max_date.label }}</label>
                <input id="id_max_date" class="col-10 mb-3 form-control form-control-sm" name="max_date"
                       type="text" placeholder="{{  max_date|date:'d.m.Y' }}" autocomplete="off" style="cursor:pointer"
                       value="{% if form.max_date.value %}{{ form.max_date.value }}{% endif %}"
                       onfocus="hideKeyboard($(this))"
                >
                {{ form.max_date.errors }}
            </div>
            <div class="row d-flex justify-content-between mx-1 col-12">
                <button type="submit" name="button" class="btn btn-primary btn-block col-12 my-1">Применить</button>

            </div>
            <div class="row d-flex justify-content-between mx-1 col-12">
                <a href="{% url 'static_sorting_by_branch' %}" class="btn btn-danger btn-block col-12 my-1">Сбросить</a>

            </div>
        </div>
    </form>
    <div class="row d-flex justify-content-around">
        {% for branch, sorts in result.items %}
            <div class="col-12 col-lg-6 row p-2">
                <div class="border shadow col-12 bg-white">
                    <div class="col-12 text-center my-2">
                        <h4>{{ branch.name }}
                            <span class="badge badge-secondary">{{ sorts|length }}</span>
                        </h4></div>
                    {% if sorts %}
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Филиал</th>
                            </tr>
                            </thead>
                            {% for sort in sorts %}
                                {% if sort.status == 1 %}
                                    <tbody class="table-success">
                                    {% elif sort.status == 2 %}
                                    <tbody class="table-danger">
                                    {% else %}
                                    <tbody class="table-warning">
                                {% endif %}
                            <tr>
                                <th>{{ sort.date|date:'d.m.Y' }}</th>
                                <th>{{ sort.teacher }}</th>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p class="col-12 text-center">Нет сортировок за выбранный период</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        jQuery('#id_min_date, #id_max_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });

        function hideKeyboard(element) {
            element.blur();
        }
    </script>

{% endblock %}