{% extends 'telegrambot/base.html' %}

{% block title %}
    Сообщения отправлены
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-around">
        <div class="col-5 text-center shadow border">
            <h4>Успешно отправленные сообщения</h4>
            {% for good in success %}
                <p class="text-success">{{ good }}</p>
            {% endfor %}
        </div>
        <div class="col-5 text-center shadow border">
            <h4>Неотправленные сообщения</h4>
            {% for error in errors %}
                <p class="text-danger">{{ error.t }}: {{ error.e }}</p><hr />
            {% endfor %}
        </div>
    <div class="col-12 text-center">
        <a href="{% url 'mailing' %}">Вернуться назад</a>
    </div>
    </div>
{% endblock %}