{% extends 'telegrambot/base.html' %}

{% block title %}
    История задачи
{% endblock %}

{% block content %}
    <div class="row">
        <h4 class="col-12 text-center">История взаимодействия с задачей</h4>
    </div>

    <div class="row">
        <h5 class="text-center col-12">Суть задачи</h5>
        <p class="col-12 text-center">
            {{ task.text }}
        </p>
        <h5 class="col-12 text-center">Постановщик</h5>
        <p class="col-12 text-center">
            {{ task.director }}
        </p>
        <h5 class="col-12 text-center">Исполнитель</h5>
        <p class="col-12 text-center">
            {{ task.executor }}
        </p>

        <h5 class="col-12 text-center">История</h5>
        <div class="table-responsive">
            <table class="table table-sm table-borderless my-table p-2"
                   style="border-spacing: 0 10px;border-collapse: separate">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                {% for record in task_history %}
                    <tr class="table-hover my-tr">
                        <th style="border-radius: 4px 0 0 4px" scope="row">{{ record.created|date:"d.m.Y" }}</th>
                        <th scope="row">{{ record.comment }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}