{% extends 'telegrambot/base.html' %}

{% block title %}
    Задачи
{% endblock %}

{% block content %}
    {% load bootstrap_pagination %}
    <div class="row">
        <h3 class="col-12 text-center">Задачи</h3>
    </div>
    <form action="{% url 'tasks_list' %}" method="GET" class="m-2">


        <div class="row mx-1 d-flex justify-content-between">
            <div class="row col-12   col-md-6 col-xl-4  mx-auto my-md-1 mx-xl-0 d-flex justify-content-between  border p-1">
                <p class="col-12 text-center">Дата постановки</p>
                <div class="form-row col-12">
                    <label for="id_min_date"
                           class="col-2 col-form-label col-form-label-sm">{{ form.min_date.label }} </label>
                    <input id="id_min_date" class="col-10 mb-3 form-control form-control-sm" name="min_date"
                           type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                           value='{% if form.min_date.value %}{{ form.min_date.value }}{% endif %}'>
                    {{ form.min_date.errors }}
                </div>

                <div class="form-row col-12">
                    <label for="id_max_date"
                           class="col-2 col-form-label col-form-label-sm">{{ form.max_date.label }}</label>
                    <input id="id_max_date" class="col-10 mb-3 form-control form-control-sm" name="max_date"
                           type="text" placeholder="{% now 'd.m.Y' %}" autocomplete="off"
                           value="{% if form.max_date.value %}{{ form.max_date.value }}{% endif %}">
                    {{ form.max_date.errors }}
                </div>


            </div>
            <div class="row col-12  col-xl-4 mx-auto my-md-1 mx-xl-0 d-flex justify-content-center text-center border p-1">
                <p class="col-12">Дополнительно</p>
                <div class="form-check col-12">
                    <input class="form-check-input" type="checkbox"
                           id="defaultCheck1"
                           {% if form.is_overdue.value %}checked{% endif %} name="{{ form.is_overdue.html_name }}">
                    <label class="form-check-label" for="defaultCheck1">
                        Только просроченные
                    </label>
                </div>
                <p class="col-4 mt-4">{{ form.sort_field.label }}</p>
                <div class="form-row col-8 mt-4">
                    {{ form.sort_field }}
                    {{ form.sort_field.errors }}
                </div>
                <p class="col-4 mt-4">{{ form.sorting_order.label }}</p>
                <div class="form-row col-8 mt-4">
                    {{ form.sorting_order }}
                    {{ form.sorting_order.errors }}
                </div>
            </div>

            <div class="row col-12  col-xl-4 mx-auto my-md-1 mx-xl-0 d-flex justify-content-center text-center border p-1">
                <p class="col-12 text-center">Дополнительно</p>
                <p class="col-3">{{ form.departament.label }}</p>
                <div class="form-row col-9">
                    {{ form.departament }}
                    {{ form.departament.errors }}
                </div>
                <p class="col-3">{{ form.status.label }}</p>
                <div class="form-row col-9">
                    {{ form.status }}
                    {{ form.status.errors }}
                </div>
                <p class="col-3" for="type">{{ form.type.label }}</p>
                <div class="form-row col-9">
                    {{ form.type }}
                    {{ form.type.errors }}
                </div>

            </div>

        </div>
        <div class="row mx-1 my-1">
            <button type="submit" name="button" class="btn btn-primary btn-block col-12 col-md-3 my-1 mx-1">Применить
            </button>
            <a href="{% url 'tasks_list' %}" class="btn btn-danger btn-block col-12 col-md-3 my-1 mx-1">Сбросить
                фильтры</a>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-sm ">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Создана</th>
                <th scope="col">Постановщик</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Текст</th>
                <th scope="col">Отдел</th>
                <th scope="col">Тип задачи</th>
                <th scope="col">Дедлайн</th>
            </tr>
            </thead>
            <tbody>
            {% for task in page.object_list %}
                {% if task.status == 3 %}
                    <tr class="table-success">
                        {% elif task.deadline %}
                        {% if task.deadline_left < 0 %}
                            <tr class="table-danger">
                                {% elif task.deadline_left == 0 %}
                            <tr class="table-warning">
                                {% else %}
                            <tr>
                        {% endif %}
                        {% else %}
                    <tr>
                {% endif %}
            <th>{{ task.created|date:"d.m.Y" }}</th>
            <th width="300px">{{ task.director }}</th>
            <th width="300px">{% if task.executor %}{{ task.executor }}{% else %} Не назначен {% endif %}</th>
            <th>{{ task.text }}</th>
            <th>{{ task.departament }}</th>
            <th>{{ task.get_type_display }}</th>
            <th>{% if task.deadline %}{{ task.deadline|date:"d.m.Y" }}{% endif %}</th>
            {#                    {% load pluralize %}#}
            {#                    <th>{% if log.time_before or log.time_before == 0 %}{{ log.time_before }}#}
            {#                        {{ log.time_before|pluralize:"минута,минуты,минут" }} {% else %} - {% endif %}</th>#}
            {#                    <th><a href="{{ log.teacher.get_absolute_url }}">{{ log.teacher }}</a></th>#}
            {#                    <th><a href="{{ log.branch.get_absolute_url }}">{{ log.branch }}</a></th>#}
            {#                    <th>{% if log.lesson %}{{ log.lesson }} {% else %} - {% endif %}</th>#}
            {#                    <th><a href="{{ log.get_absolute_url }}">Подробнее</a></th>#}
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row d-flex justify-content-center">
        {% bootstrap_paginate page range=5 show_first_last=True %}
    </div>
    <script>
        jQuery('#id_min_date, #id_max_date').datepicker({
            maxDate: new Date(),
            autoClose: true,
        });
    </script>
{% endblock %}