{% extends 'telegrambot/base.html' %}


{% block title %}
    Страница преподавателя - {{ teacher.full_name }}
{% endblock %}

{% block content %}
    <div class="row m-2">
         <a href="javascript:history.go(-1)" class="btn btn-primary col-2">Назад</a>
        <h3 class="text-center col-8">{{ teacher.full_name }}</h3>
    </div>

        <div class="row">
            <div class="col-6">ID: {{teacher.id}}</div>
        </div>
        <div class="row">
            <h5 class="col-12 text-center">Последние логи</h5>
        </div>
<div class="table-responsive">
        <table class="table table-bordered table-light table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Время до занятия</th>
                <th scope="col">Филиал</th>
                <th scope="col">Занятие</th>
                <th scope="col">Функции</th>
              </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <th scope="row">{{ log.id}}</th>
                        <th>{{log.date|date:"d.m.Y"}}</th>
                        <th>{{ log.time|date:"H:i" }}</th>
                        {% load pluralize %}
                        <th>{% if log.time_before %}{{ log.time_before}} {{ log.time_before|pluralize:"минута,минуты,минут"}} {% else %} - {% endif %}</th>
                        <th><a href="{{ log.branch.get_absolute_url }}">{{ log.branch}}</a></th>
                        <th>{% if log.lesson %}{{ log.lesson}} {% else %} - {% endif %}</th>
                        <th><a href="{{ log.get_absolute_url }}">Подробнее</a></th>
                    </tr>

                {% endfor%}
            </tbody>
        </table>
</div>
{% endblock %}
