{% extends 'telegrambot/base.html' %}


{% block title %}
    Список преподавателей
{% endblock %}

{% block content %}
        <div class="row">
            <h1 class="col-12 text-center">Преподаватели</h1>
        </div>
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">ФИО</th>
                <th scope="col">Slug ФИО</th>
                <th scope="col">Chat_id</th>
                <th scope="col">Ключ авторизации</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <th scope='row'>{{ teacher.id}}</th>
                        <th><a href="{{ teacher.get_absolute_url }}">{{ teacher.full_name }}</a></th>
                        <th>{{ teacher.slug_name }}</th>
                        <th>{{ teacher.chat_id }}</th>
                        <th>{{ teacher.password }}</th>
                        <th>{{ teacher.status}}</th>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
{% endblock %}
