<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Голоса</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <style>
        li {
            list-style-type: none
        }
        .vote-container{
            margin: 0 auto;
            height: 200px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 10px 1px gray;
            border-radius: 5px;
            line-height: 100px;
            display: flex;
            justify-content: center;
        }

    </style>
    <div class="container-fluid">
        <div class="row mx-auto d-flex justify-content-center">
            <div class="col-12 col-lg-4 border rounded my-4 shadow mx-1" style="height: 180px;">
                <div class="row p-5">
                    <h3 class="col-12 text-center" id="vote-title">Место: {{ rang }}</h3>
                    <h3 id="vote" class="col-12 text-center text-primary">Голосов: {{ vote }}</h3>
                </div>
            </div>
            <div class="col-12 col-lg-7 border rounded my-4 shadow mx-1">
                <div class="row px-5 p-1">
                     <h3 class="text-center col-12">ТОП-9</h3>
                    <li class="col-12" id="top">
                        <ul style="font-size: 1.3em" class="text-center">Загружаем данные...</ul>
                    </li>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto  text-center  mb-5">
                <a href="https://award.head-liner.ru/nominations/science/286/"
                   class="col-12" target="_blank" style="font-size: 2em">Проголосовать</a>
            </div>
        </div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function get_update(){
          $.ajax({
            method: 'GET',
            url: '/vote',
            data: {
              'mode' : 'json'
            },
            success: function(data){
                $('#vote').text('Голосов: ' +data.vote);
                $('title').text(data.vote);
                $('#vote-title').text('Место: ' + data.rang);
                $('#top').html('');
                $.each(data.top, function (index, value) {
                    $('#top').append(
                        ''.concat('<p style="font-size: 1.3em">',index+1,'. <span class="badge badge-secondary">',
                            value[1],'</span>',' ',value[0],'</p>'));
                } );


            },
            dateType: JSON,
        })
        }

        setInterval(get_update,2000);

    </script>
</body>
</html>